<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wetech.zhy.mapper.BuildingZhyMapper">
    <insert id="save">
        insert into BuildingZhy (
            `Name`,
            `DBHisaijutakuShurui`,
            DBHisaijutakuShoyuu ,
            DBHigaiJokyo,
            DBHigaiJokyoDaikiboHankaiOrHankai,

            DBBukken_Menseki,
            APLBukkenAddressTodofuken,
            DBBukkenAddressShigun,
            DBBukkenAddressChoson,
            APLBukkenAddressBanchi,
            APLBukkenAddressPostCode3,
            DBBousaiSyudanItenJigyo,
            DBBukkenShikichiNoShoyuKankei,
            DBBukken_Tatemono_Jutaku,
            DBBukken_Tatemono_HiJutaku,
            DBBukken_Kozo,
            DBBukken_TatekataKodateKeishiki,
            DBNyukyoYoteiDateYear,
            DBNyukyoYoteiDateMonth,
            DBJutakuYoto,
            DBBukken_KojiKanryoDate_Year,
            DBBukken_KojiKanryoDate_Month,

            DBShikinDateTochiShikinYear,
            DBShikinDateTochiShikinMonth,
            DBShikinDateChukanShikinYear,
            DBShikinDateChukanShikinMonth,
            DBShikinDateSaishuShikinYear,
            DBShikinDateSaishuShikinMonth,

            DBKariireIninKaishaName,
            DBChukaiHanbaiNameKana,

            DBChukaiHanbaiTantoshaNameMei,
            DBChukaiHanbaiTantoshaNameSei,

            DBHiyouKensetsuHi,
            DBHiyouTochiSyotokuHi,
            DBHiyouTotal,

            DBKariireGakuKingaku,
            DBKariireGakuKinri,
            DBKariireGakuHensaiKikan,
            DBKariireGakuNenHensai12No1,
            DBHensaiHouhou,
            DBHisaiShinzokuDokyoAri,
            DBSueokiKikanNoNensu,

            DBSonotaName,
            DBSonotaKingaku,
            DBSonotaHensaiKikan,
            DBSonotaNenHensai12No1,
-- DBHiyouTotal	 decimal(6,0)  COMMENT"建設に要する費用（再掲）（万円）",
            DBSogoKingaku,
            DBKinyuKikanName,
            DBShitemName
        ) values (#{name},
                  #{dbHisaijutakuShurui},
                  #{dbHisaijutakuShoyuu},
                  #{dbHigaiJokyo},
                  #{dbHigaiJokyoDaikiboHankaiOrHankai},
                  #{dbBukken_Menseki},
                  #{aplBukkenAddressTodofuken},
                  #{dbBukkenAddressShigun},
                  #{dbBukkenAddressChoson},
                  #{aplBukkenAddressBanchi},
                  #{aplBukkenAddressPostCode3},
                  #{dbBousaiSyudanItenJigyo},
                  #{dbBukkenShikichiNoShoyuKankei},
                  #{dbBukken_Tatemono_Jutaku},
                  #{dbBukken_Tatemono_HiJutaku},
                  #{dbBukken_Kozo},
                  #{dbBukken_TatekataKodateKeishiki},
                  #{dbNyukyoYoteiDateYear},
                  #{dbNyukyoYoteiDateMonth},
                  #{dbJutakuYoto},
                  #{dbBukken_KojiKanryoDate_Year},
                  #{dbBukken_KojiKanryoDate_Month},
                  #{dbShikinDateTochiShikinYear},
                  #{dbShikinDateTochiShikinMonth},
                  #{dbShikinDateChukanShikinYear},
                  #{dbShikinDateChukanShikinMonth},
                  #{dbShikinDateSaishuShikinYear},
                  #{dbShikinDateSaishuShikinMonth},
                  #{dbKariireIninKaishaName},
                  #{dbChukaiHanbaiNameKana},
                  #{dbChukaiHanbaiTantoshaNameMei},
                  #{dbChukaiHanbaiTantoshaNameSei},
                  #{dbHiyouKensetsuHi},
                  #{dbHiyouTochiSyotokuHi},
                  #{dbHiyouTotal},
                  #{dbKariireGakuKingaku},
                  #{dbKariireGakuKinri},
                  #{dbKariireGakuHensaiKikan},
                  #{dbKariireGakuNenHensai12No1},
                  #{dbHensaiHouhou},
                  #{dbHisaiShinzokuDokyoAri},
                  #{dbSueokiKikanNoNensu},
                  #{dbSonotaName},
                  #{dbSonotaKingaku},
                  #{dbSonotaHensaiKikan},
                  #{dbSonotaNenHensai12No1},
                  #{dbSogoKingaku},
                  #{dbKinyuKikanName},
                  #{dbShitemName}
    </insert>
</mapper>
